
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

ul li.item-menu{
    transition: .8s;
    margin-left: -30px;
}

.logo{
    width: 90%;
}

.login-container {
    background-color:  #fff;
    padding: 70px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    color: #f00;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #666;
    border-radius: 10px;
    background-color: #c1c1c1;
    color: white;
    font-variant-ligatures: white;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #f00;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #cc0000;
}

.register-option {
    margin-top: 20px;
}

.register-option a {
    color: #f00;
    text-decoration: none;
}

.register-option a:hover {
    text-decoration: underline;
}
