nav.menu-lateral{
    width: 80px;
    height: 100%;
    background-color: black;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0px 0px #b30000;
    
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .4s;
}
nav.menu-lateral:hover{
    width: 300px;
}
.btn-expandir{
    width: 100%;
    padding: 10px;
}
.btn-expandir > i{
    color: white;
    cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu{
    transition: .8s;
}
ul li.item-menu:hover{
    background: #b30000;
}
ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.item-menu a .tct-link{
    margin-left: 40px;
}
ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}